{% extends "main_page_module/base_2.html" %}

{% block extraheader %}
{% endblock extraheader  %}

{% block nav_index %}active{% endblock nav_index %}


{% block flashes %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            <br>
          {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
            <br>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock flashes %}


{% block content%}

<style>
    @media only screen and (max-width: 950px) {
        .hide_img {
            display: none;
        }
    }
</style>


<!-- Slider -->
  <div class="lec_slider lec_slider_inside lec_image_bck lec_fixed lec_wht_txt" data-stellar-background-ratio="0.3" data-image="{{ url_for('static', filename='images/background/front.jpg') }}">
      
      <!-- Firefly -->
      <div class="lec_slider_firefly" data-total="30" data-min="1" data-max="3"></div>

      <!-- Over -->
      <div class="lec_over" data-color="#000" data-opacity="0.8"></div>
      

      <div class="container">

          <!-- Slider Texts -->
          <div class="lec_slide_txt lec_slide_center_middle text-center lec_page_fire">
              <img src="{{ url_for('static', filename='template/images/burger/burger_logo.png') }}" alt="" height="180"><br>
              <div class="lec_gold">Rezultati</div>
              <div class="lec_slide_subtitle">Poglej, Preveri,<br>Nabavi!</div>
          </div>
          <!-- Slider Texts End -->
      
      </div>
      <!-- container end -->


  </div>
  <!-- Slider End -->
<!-- Content -->
<section id="lec_content" class="lec_content">

  <!-- section -->
  <section class="lec_section lec_section_no_overlay">
                  
      <div class="container text-center">


          <div class="row row_mb_100 text-left">
              <div class="col-md-9 lec_animation_block hide_img" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, -40px, 0px)">
                  <img src="{{ url_for('static', filename='images/background/meso_plan.jpg') }}" alt="">
              </div>

              <div class="col-md-9 lec_animation_block hide_img" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, -40px, 0px)">
                    <img src="{{ url_for('static', filename='images/background/beer_plan.jpg') }}" alt="">
                </div>

              <div class="col-md-8 lec_animation_block lec_animation_abs_block lec_posr lec_image_bck" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, 40px, 0px)" data-image="{{ url_for('static', filename='template/images/main_back.jpg') }}">

                  <!-- Over -->
                  <div class="lec_over" data-color="#000" data-opacity="0.05"></div>
                  
                  <div class="lec_parallax_menu lec_image_bck lec_fixed">
                      <h2 class="lec_rust">Nakupovalni list</h2>

                      
                      
                      <div class="lec_parallax_menu_mini lec_parallax_menu_mini_feaut">
                          <div class="lec_parallax_menu_mini_title clearfix">
                              <h3>Meso</h3>
                              <div class="lec_menu_spacer"></div>
                              <div class="lec_parallax_menu_mini_price">12 kg</div>
                              
                          </div>
                          <table style="width:100%">
                            <tr>
                                <th>Artikel</th>
                                <th>Količina</th>
                                <th>Cena</th>
                            </tr>
                            <tr>
                                <td>{{ meso["cevap"][0] }}</td>
                                <td>{{ meso["cevap"][1] }} kg</td>
                                <td>12 €</td>
                            </tr>
                            <tr>
                                <td>{{ meso["plesk"][0] }}</td>
                                <td>{{ meso["plesk"][1] }} kg</td>
                                <td>94 €</td>
                            </tr>
                            <tr>
                                <td>{{ meso["vrat"][0] }}</td>
                                <td>{{ meso["vrat"][1] }} kg</td>
                                <td>24 €</td>
                            </tr>
                            <tr>
                                <td>{{ meso["perut"][0] }}</td>
                                <td>{{ meso["perut"][1] }} kg</td>
                                <td>34 €</td>
                            </tr>
                            </table> 
                      </div>

                      <div class="lec_parallax_menu_mini lec_parallax_menu_mini_feaut">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Zelenjava</h3>
                                <div class="lec_menu_spacer"></div>
                                <div class="lec_parallax_menu_mini_price">12 kg</div>
                                
                            </div>
                            <table style="width:100%">
                              <tr>
                                  <th>Artikel</th>
                                  <th>Količina</th>
                                  <th>Cena</th>
                              </tr>
                              <tr>
                                  <td>{{ zelenjava["bucke"][0] }}</td>
                                  <td>{{ zelenjava["bucke"][1] }} kg</td>
                                  <td>12 €</td>
                              </tr>
                              <tr>
                                  <td>{{ zelenjava["gobe"][0] }}</td>
                                  <td>{{ zelenjava["gobe"][1] }} kg</td>
                                  <td>94 €</td>
                              </tr>
                              <tr>
                                  <td>{{ zelenjava["pap"][0] }}</td>
                                  <td>{{ zelenjava["pap"][1] }} kg</td>
                                  <td>24 €</td>
                              </tr>
                              <tr>
                                  <td>{{ zelenjava["melan"][0] }}</td>
                                  <td>{{ zelenjava["melan"][1] }} kg</td>
                                  <td>34 €</td>
                              </tr>
                              </table> 
                        </div>

                        <div class="lec_parallax_menu_mini lec_parallax_menu_mini_feaut">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Pijača</h3>
                                <div class="lec_menu_spacer"></div>
                                <div class="lec_parallax_menu_mini_price">12 kg</div>
                                
                            </div>
                            <table style="width:100%">
                                <tr>
                                    <th>Artikel</th>
                                    <th>Količina</th>
                                    <th>Cena</th>
                                </tr>
                                <tr>
                                    <td>{{ pivo["skup_pivo"][0] }}</td>
                                    <td>{{ pivo["skup_pivo"][1] }} l</td>
                                    <td>12 €</td>
                                </tr>
                                <tr>
                                    <td>{{ pivo["veliko_pivo"][0] }}</td>
                                    <td>{{ pivo["veliko_pivo"][1] }} x 0,5 l</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>{{ pivo["malo_pivo"][0] }}</td>
                                    <td>{{ pivo["malo_pivo"][1] }} x 0,33 l</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>{{ sokovi["skup_cola"][0] }}</td>
                                    <td>{{ sokovi["skup_cola"][1] }} l</td>
                                    <td>34 €</td>
                                </tr>
                                <tr>
                                    <td>{{ sokovi["cola_literpol"][0] }}</td>
                                    <td>{{ sokovi["cola_literpol"][1] }} x l,5 l</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>{{ sokovi["sok_liter"][0] }}</td>
                                    <td>{{ sokovi["sok_liter"][1] }} x l,0 l</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Led</td>
                                    <td>{{ ostalo["led_g"][1] }} kg</td>
                                    <td>12 €</td>
                                </tr>
                                </table> 
                        </div>

                        <div class="lec_parallax_menu_mini lec_parallax_menu_mini_feaut">
                            <div class="lec_parallax_menu_mini_title clearfix">
                                <h3>Ostalo</h3>
                                <div class="lec_menu_spacer"></div>
                                <div class="lec_parallax_menu_mini_price">X</div>
                                
                            </div>
                            <table style="width:100%">
                                <tr>
                                    <th>Artikel</th>
                                    <th>Količina</th>
                                    <th>Cena</th>
                                </tr>
                                <tr>
                                    <td>Čebula</td>
                                    <td>{{ ostalo["gram_veb"][1] }} kg</td>
                                    <td>94 €</td>
                                </tr>
                                <tr>
                                    <td>Kruh</td>
                                    <td>{{ ostalo["gram_kruh"][1] }} kg</td>
                                    <td>24 €</td>
                                </tr>
                                <tr>
                                    <td>Kajmak</td>
                                    <td>{{ ostalo["kajmak"][1] }} kg</td>
                                    <td>34 €</td>
                                </tr>
                                <tr>
                                    <td>Ajvar</td>
                                    <td>{{ ostalo["ajvar"][1] }} kg</td>
                                    <td>34 €</td>
                                </tr>
                                <tr>
                                    <td>Ketchup</td>
                                    <td>{{ ostalo["ketchup"][1] }} kg</td>
                                    <td>34 €</td>
                                </tr>
                                <tr>
                                    <td>Majoneza</td>
                                    <td>{{ ostalo["majoneza"][1] }} kg</td>
                                    <td>34 €</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.robin-hot.com/trgovina.php">{{ ostalo["pikantna"][0] }}</a></td>
                                    <td><a href="http://www.robin-hot.com/trgovina.php">{{ ostalo["pikantna"][1] }} komad</a></td>
                                    <td>34 €</td>
                                </tr>
                                <tr>
                                    <td>Oglje</td>
                                    <td>{{ ostalo["skupno_oglje"][1] }} kg</td>
                                    <td>34 €</td>
                                </tr>
                                <tr>
                                    <td>{{ ostalo["olje"][0] }}</td>
                                    <td>{{ ostalo["olje"][1] }} l</td>
                                    <td>34 €</td>
                                </tr>
                                <tr>
                                    <td>{{ ostalo["rola_papir"][0] }}</td>
                                    <td>{{ ostalo["rola_papir"][1] }} rola</td>
                                    <td>34 €</td>
                                </tr>
                                <tr>
                                    <td>{{ ostalo["servjet"][0] }}</td>
                                    <td>{{ ostalo["servjet"][1] }} komad</td>
                                    <td>34 €</td>
                                </tr>
                                <tr>
                                    <td>{{ ostalo["vrece_cmeti"][0] }}</td>
                                    <td>{{ ostalo["vrece_cmeti"][1] }} kom</td>
                                    <td>34 €</td>
                                </tr>
                                <tr>
                                    <td>{{ ostalo["kozarci"][0] }}</td>
                                    <td>{{ ostalo["kozarci"][1] }} komad</td>
                                    <td>34 €</td>
                                </tr>
                                <tr>
                                    <td>{{ ostalo["krozniki"][0] }}</td>
                                    <td>{{ ostalo["krozniki"][1] }} komad</td>
                                    <td>34 €</td>
                                </tr>
                                </table> 
                        </div>

                      
                  </div>



              </div>


          </div>
          <!-- row end -->


      </div>
      <!-- container end -->
      
      
  </section>
  

  <!-- section -->
  <section class="lec_section lec_image_bck lec_wht_txt lec_fixed" data-stellar-background-ratio="0.2" data-image="{{ url_for('static', filename='template/images/black-1072366_1920.jpg') }}">

    <!-- Over -->
    <div class="lec_over" data-color="#000" data-opacity="0.8"></div>


    <div class="container text-center lec_page_fire">
        
        <h2 class="lec_gold">Shop</h2>
        <h3 class="lec_gold_subtitle">FROM THE KITCHEN</h3>
        
        <div class="row">
            <style>
                .shadow-oktagon{
                    color: rgba(255, 255, 255, 1);
                    box-shadow: 0px 0px 100px 50px rgba(223, 183, 52, 0.4);
                    }
            
            </style>

                <div class="col-md-4 lec_anim_box">
                    <div class="lec_shop_item">
                        <span class="lec_shop_item_slider">
                            <img src="{{ url_for('static', filename='images/logos/ave.png') }}" alt="">
                        </span>
                        <a href="#" class="lec_shop_item_title lec_gold_subtitle">
                            AVE
                            <b>18.95€</b>
                        </a>

                        <div class="lec_shop_item_links">
                            <a href="#shop">Buy It</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 lec_anim_box">
                    <div class="lec_shop_item">
                        <span class="lec_shop_item_slider">
                            <img src="{{ url_for('static', filename='images/logos/mercator.jpg') }}" alt="">
                        </span>
                        <a href="#" class="lec_shop_item_title lec_gold_subtitle" >
                            MERCATOR
                            <b style="color:rgb(12, 12, 12);">15.95€</b>
                        </a>
                        <div class="lec_shop_item_links">
                            <a href="#shop" style="color:rgb(12, 12, 12);">Buy It</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 lec_anim_box">
                    <div class="lec_shop_item">
                        <span class="lec_shop_item_slider">
                            <img src="{{ url_for('static', filename='images/logos/hofer.png') }}" alt="">
                        </span>
                        <a href="#" class="lec_shop_item_title lec_gold_subtitle">
                            HOFER
                            <b>28.95€</b>
                        </a>
                        <div class="lec_shop_item_links">
                            <a href="#shop">Buy It</a>
                        </div>
                    </div>
                </div>

        
        </div>
        <!-- row end -->

    </div>
    <!-- container end -->

  </section>
  <!-- section end -->

</section>
<!-- content end -->
{% endblock content %}
