{% extends "main_page_module/base.html" %}

{% block extraheader %}
{% endblock extraheader  %}

{% block nav_index %}active{% endblock nav_index %}


{% block flashes %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            <br>
          {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
            <br>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock flashes %}


{% block content%}
<br>
<div class="container-fluid" style="background-color: rgb(255, 255, 255)">
  <div class="row">
    <div class="col-md">
      <!-- insert column here -->
    </div>
    <div class="col-md-6">

      <h1>Piknik!!!</h1>
      <hr>
      <div class="container">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <label>{{ osnovni_p["odrasli_m"][0] }}</label> - <span class="badge badge-danger">{{ osnovni_p["odrasli_m"][1] }}</span>
                </td>
                <td>
                  <label>{{ osnovni_p["odrasli_v"][0] }}</label> - <span class="badge badge-success">{{ osnovni_p["odrasli_v"][1] }}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <label>{{ osnovni_p["otroci_m"][0] }}</label> - <span class="badge badge-primary">{{ osnovni_p["otroci_m"][1] }}</span>
                </td>
                <td>
                  <label>{{ osnovni_p["otroci_v"][0] }}</label> - <span class="badge badge-success">{{ osnovni_p["otroci_v"][1] }}</span>
                </td>
            </tbody>
          </table>

          
          <hr>
          
          <div class="row">

              <div class="col-md-6">
                <div class="card text-white bg-danger mb-3">
                  <div class="card-header">
                    Meso
                  </div>
                  <div class="card-body  text-dark bg-light">
                    <div class="form-group">
                      <label">{{ meso["cevap"][0] }}</label> - <span class="badge badge-pill badge-danger">{{ meso["cevap"][1] }} g</span>
                    </div>
                    <div class="form-group">
                      <label>{{ meso["plesk"][0] }}</label> - <span class="badge badge-pill badge-danger">{{ meso["plesk"][1] }} g</span>
                    </div>
                    <div class="form-group">
                      <label>{{ meso["vrat"][0] }}</label> - <span class="badge badge-pill badge-danger">{{ meso["vrat"][1] }} g</span>
                    </div>
                    <div class="form-group">
                      <label>{{ meso["perut"][0] }}</label> - <span class="badge badge-pill badge-warning">{{ meso["perut"][1] }} g</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card  text-white bg-success mb-3">
                  <div class="card-header">
                    Zelenjava
                  </div>
                  <div class="card-body text-dark bg-light">
                    <div class="form-group">
                      <label>{{ zelenjava["bucke"][0] }}</label> - <span class="badge badge-pill badge-success">{{ zelenjava["bucke"][1] }} g</span>
                    </div>
                    <div class="form-group">
                      <label>{{ zelenjava["gobe"][0] }}</label> - <span class="badge badge-pill badge-success">{{ zelenjava["gobe"][1] }} g</span>
                    </div>
                    <div class="form-group">
                      <label>{{ zelenjava["pap"][0] }}</label> - <span class="badge badge-pill badge-danger">{{ zelenjava["pap"][1] }} g</span>
                    </div>
                    <div class="form-group">
                      <label>{{ zelenjava["melan"][0] }}</label> - <span class="badge badge-pill badge-primary">{{ zelenjava["melan"][1] }} g</span>
                    </div>
                  </div>
                </div>
              </div>


          </div>
          
          <div class="row">
            <div class="col-md-6">
              <div class="card  text-white bg-warning mb-3">
                <div class="card-header">
                  Pivo
                </div>
    
                <div class="card-body text-dark bg-light">
                  <div class="form-group">
                    <label>{{ pivo["skup_pivo"][0] }}</label> - <span class="badge badge-pill badge-warning">{{ pivo["skup_pivo"][1] }} ml</span>
                  </div>
                  <div class="form-group">
                    <label>({{ pivo["veliko_pivo"][0] }})</label> - <span class="badge badge-pill badge-warning">{{ pivo["veliko_pivo"][1] }} kom</span>
                  </div>
                  <div class="form-group">
                    <label>({{ pivo["malo_pivo"][0] }})</label> - <span class="badge badge-pill badge-warning">{{ pivo["malo_pivo"][1] }} kom</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card text-white bg-dark mb-3">
                <div class="card-header">
                  Sokovi
                </div>
    
                <div class="card-body text-dark bg-light">
                <div class="form-group">
                    <label>{{ sokovi["skup_cola"][0] }}</label> - <span class="badge badge-pill badge-dark">{{ sokovi["skup_cola"][1] }} ml</span>
                  </div>
                  <div class="form-group">
                    <label>({{ sokovi["cola_literpol"][0] }})</label> - <span class="badge badge-pill badge-dark">{{ sokovi["cola_literpol"][1] }} kom</span>
                  </div>
                  <div class="form-group">
                    <label>{{ sokovi["skup_sok"][0] }}</label> - <span class="badge badge-pill badge-danger">{{ sokovi["skup_sok"][1] }} ml</span>
                  </div>
                  <div class="form-group">
                    <label>({{ sokovi["sok_liter"][0] }})</label> - <span class="badge badge-pill badge-danger">{{ sokovi["sok_liter"][1] }} kom</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
          
          <hr>
          
          <div class="card  text-white bg-info mb-3">
            <div class="card-header">
              Ostalo
            </div>

            <div class="card-body text-dark bg-light">
              <div class="form-group">
                <label>{{ ostalo["led_g"][0] }}</label> - <span class="badge badge-pill badge-info">{{ ostalo["led_g"][1] }} g</span>
              </div>
              <div class="form-group">
                <label>{{ ostalo["gram_veb"][0] }}</label> - <span class="badge badge-pill badge-info">{{ ostalo["gram_veb"][1] }} g</span>
              </div>
              <div class="form-group">
                <label>{{ ostalo["gram_kruh"][0] }}</label> - <span class="badge badge-pill badge-info">{{ ostalo["gram_kruh"][1] }}  g ({{ ostalo["kos_kruh"][1] }} rezin)</span>
              </div>
              <div class="form-group">
                <label>{{ ostalo["skupno_oglje"][0] }}</label> - <span class="badge badge-pill badge-dark">{{ ostalo["skupno_oglje"][1] }} g</span>
              </div>
            </div>
          </div>
          <hr>
          
      </div>
      

    </div>
  <div class="col">
    
      
  </div>
</div>

</div>
{% endblock content %}
